body {
	background-color: #d87d7d;
	font-family: Arial
	}
h1 {
	text-align: center
	}
table {
	border: 1px solid;
	text-align: center;
	margin: auto;
	background-color: white;
        border-collapse: collapse;
	}
th, td {
	border: 1px solid black;
	padding: 8px;
	text-align: center;
	}
th 	{
            background-color: #afc0cf; /* Light blue */
            color: #333;
            font-weight: bold;
	}
tr:nth-child(even) {
            background-color: #f5f5f5;
          }
.grid-container {
	display: grid;
	grid-template-columns: 30% 70%;
	}
.horizontal-line {
	width: 100%; 
	height: 2px; 
	background-color: black; 
	margin: 10px 0;
	}
.book-link {
  text-align: center;
  margin: 25px 0;
}
.book-link a {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
.book-link a:hover {
  background-color: #555;
}
.home-link {
            display: block;
            width: 120px;
            margin: 20px auto;
            padding: 10px;
            background-color: #333;
            color: white !important;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
          }
.home-link:hover {
            background-color: #555;
          }